
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');
body{
    margin:0;
    font-family:"Bona+Nova+SC";
    background-color:rgb(182, 178, 178);
}

header{
    background: #fff;
    padding: 10px;
}
nav{
    max-width: 1400px;
    margin: 0 auto;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    align-items: center;

}

nav a{
    text-decoration:none;
    color:#333;
}
nav h1 {
    text-transform: uppercase;
    line-height: 1em;

}
nav h1 div:first-child{
    font-weight:800;
    letter-spacing:1.5px;
}
nav h1 div:last-child{
    font-weight: 400;
}
img{
    width: 100%;

}

main{
    max-width:1200px;
    margin: 60px auto;
    padding: 20 px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:250px;
    gap:10px;

}
main div{
    overflow:hidden;
    background:#fff;
    border-radius:6px;
    border: 10px solid #fff;
    box-shadow: 3px 3px 3px rgba(0,0,0,.05);

}
main .short{
    grid-row: span 1;

}
main .tall{
    grid-row:span 2;
}
.zero{ 
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left:50px;
    margin-right:50px;
    padding:20px;
    border:none;
    border-radius: 10px;
    display: grid;
    grid-column: span 3;
}


@media  screen and(max-width:960px){
    main{
        grid-template-columns:1fr 1fr ;
    }
}
@media  screen and (max-width:620px){
    main{
        grid-template-columns: 1fr;
        max-width: 400px;
        margin: 20px auto;
        
    }
   
    nav{
        grid-template-columns: repeat(4 , 1fr);
    }
    nav h1{
        grid-column: 1 / span 4;
        grid-row:1;
    }

}
video{
    width:100%;

}

  
.zero div{
    background-color:rgb(0, 0, 0);
    color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;

}
article >div >p{
    padding-left: 50px;
    padding-right: 50px;
}
.title{
    text-align:center;
    margin:20px;
    padding:20px;
}
article h1{
    text-shadow: #333;
    
}

h2,h3{
    text-align:center;
}
span{
    font-weight: 900;
}



